<h1><img src="/img/book.png" width="75px" height="75px" alt="Book header image" id="header-image" />Bookings</h1>
<div class="CSSTableGenerator" >
<table>
  <tr>
    <td>User</td>
    <td>Start date</td>
    <td>End date</td>
    <td>Destination </td>
    <td>Car</td>
  </tr>

<% @booking.each do |b| %>
  <tr>
  <td> <%= b.user.username %></td>
  <td> <%= b.start_date %>  </td>
  <td> <%= b.end_date %>    </td>
  <td> <%= b.destination %> </td>
  <td> <%= b.car.title %>   </td>
  </tr>


  </tr>
<% end %>
</table>
</div>


<br/>
